!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.socket.io/stable/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.4.4.min.js')
    script(src='http://scripts.embed.ly/jquery.embedly.min.js')

  body!= body